body {
  background-color: yellow;
}

* {
  text-align:center;
  margin-top: 80px;
}

h1 {
  font-family: Artifika;
  font-size: 80px;
  margin-top: 40px;
  text-shadow: 5px 10px 10px grey;
}

.btn {
  border: solid 4px black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 28px;
  background-color: green;
  background-color border-radius: 8px;
  color: yellow;
}

#result {
  width: 300px;
  height: 100px;
  border: solid 3px black;
  margin: auto;
  margin-top: 80px;

}
